.container {
	/*border: 1px red solid;*/
}

#myform label.error {
	color: white;
	font-family: 'Raleway';
	font-weight: 400;
}

.inpus {
	/*border: 1px cyan solid;*/
	width: 680px;
	margin: auto;
	margin-top: 10px;
}

.container h2 {
    font-family:'Josefin Slab';
    font-size: 4em;
    text-align: center;
    margin-top: 10px;
    margin-bottom: 30px;
    color: #ffffff;
}

p {
	font-family: 'Raleway';
	font-weight: 100;
	text-align: center;
	font-size: 1.6em;
	line-height: 1.6em;
	color: #ffffff;

}

.check {
	position: fixed;
}

form {
    display: inline;
    margin-bottom: 5px;
    margin-top: 20px;
}

.container input {
	width: 620px;
	height: 50px;
	border: none;
	margin:0;
	opacity: 0.5;
	background-color: #ffffff;
	padding-left: 10px;
	font-family: 'Raleway';
	font-weight: 400;
	font-size: 1.2em;
	color: #767676;

	animation-timing-function: ease-in;
	-moz-transition: opacity  0.4s;					-webkit-transition: opacity  0.2s;
	-ms-transition: opacity  0.4s;
	-o-transition: opacity 0.4s;
}

	.container input:hover {
		opacity: 0.9;
	}

	input:focus {
		outline: none;
	}

.tooltip{
    position:absolute;
    z-index:1020;
    display:block;
    visibility:visible;
    padding:5px;
    font-size:13px;
    opacity:0;
    color: #767676;
    filter:alpha(opacity=0)
}
.tooltip.in{
    opacity:.8;
    filter:alpha(opacity=80)
}


.tooltip-inner{
    padding:3px 8px;
    color:#767676;
    text-align:center;
    background: -webkit-gradient(linear, left top, left 25, from(#767676), color-stop(4%, #767676), to(#767676));  
    -webkit-border-radius:0;
    -moz-border-radius:0;
    border-radius:0;
}

.equis {
	float: right;
	opacity: 0.3;
	cursor: pointer;
	padding-left: 0;
	color: #000000;
}

.tooltip-arrow{
    display: none;
}

#button{
    display: inline-block;
    /*height:20px;
	width:70px;*/
	background-color:#ffffff;
	font-family:arial;
	opacity: 0.5;
	font-weight:bold;
	color:#767676;
	padding: 14px 18px;
	float: right;
	text-align:center;
	cursor: pointer;
	font-size: 1.5em; 
	line-height: 0;
	margin-top: -50px;
	vertical-align: top;
	border: 0;
	outline: 0;

	animation-timing-function: ease-in;
	-moz-transition: opacity  0.4s;					-webkit-transition: opacity  0.2s;
	-ms-transition: opacity  0.4s;
	-o-transition: opacity 0.4s;
}

#button:hover {
	opacity: 0.8;
}


.list {
	font-family:garamond;
	color:#cc0000;
}


.item {
	font-size: 1.2em;
	/*border: 1px red solid;*/
	width: 675px;
	line-height:1em;
	background-color: #ffffff;
	opacity: 0.5;
	color: #767676;
	padding: 15px 15px;
	margin-top: 10px;
	display: inline-block;
	font-family: 'Raleway';
	font-weight: 400;

	animation-timing-function: ease-in;
	-moz-transition: opacity  0.4s;					-webkit-transition: opacity  0.2s;
	-ms-transition: opacity  0.4s;
	-o-transition: opacity 0.4s;
}

	.item:hover {
		opacity: 0.9;
	}